.container {
    max-width: 1360px;
    margin-left: 24px;
}

.containerSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 14px;
}

.sectionSlider {
    margin-bottom: 40px;
}
