.wrapperAuth {
    height: 100vh;
    background: url('../../../assets/bg/auth-bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapperAuthBlock {
    background-color: #fff;
    padding: 72px 90px 80px 90px;
}

.wrapperAuthBlockImg {
    text-align: center;
    margin-bottom: 48px;
}

.authLinkBlock {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
