.wrapperLayoutForget {
        height: 100vh;
        background: url('../../assets/bg/auth-bg.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    
}