@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.ant-list-split .ant-list-header,
.ant-list-items .ant-list-item {
    border: none;
    padding: 0;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: #061178;
}

.ant-menu-item {
    margin-bottom: 18px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2F54EB;
    border-color: #2F54EB;
  }

  .ant-input-wrapper input {
    height: 40px;
  }

  .ant-input-affix-wrapper input {
    height: 30px;
  }


  .container {
    max-width: 300px;
    margin: 0 auto;
  }


  .character {
    width: 40px;
    height: 40px;
    font-size: 14px;
    cursor: default;
    user-select: none;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .character.bgc {
    border: 1px solid red;
  }


@media(max-width: 600px) {
    .ant-menu-item-icon {
        display: none !important;
    }
}

@media(max-width: 560px) {
  .ant-modal-body {
    padding: 0;
  }
  .ant-result-subtitle {
    margin: 0 auto;
  }

  .ant-result-title {
    font-weight: 500;
  }

  .ant-result.ant-result-error {
    padding: 20px;
  }
}



